html {
    background-image: url("https://images.unsplash.com/photo-1482263231623-6121096b0d3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: 1300px 600px;
    color: white;
    margin-top: 0px;
    font-weight: 900;

}
table, tr, th, td, caption {
    
    font-family: Georgia, 'Times New Roman', Times, serif;

}
td {
    height: 50px;
    vertical-align: bottom;
    text-align: center;
    width: 15%;
  }
  th {
    text-align: center;
    height: 70px;
  }
  th, td {
    border-bottom: 3px solid #ddd;
  }
  tr:hover {background-color: rgb(2, 5, 30);}
  th {
    background-color: #15022c;
    color: white;
  }

  